streamlit==1.58.0
mediapipe==0.10.35
opencv-python-headless==4.10.0.84
pandas
numpy
scikit-learn
joblib
pillow
requests
insightface==1.0.1
gtts
fastapi
uvicorn
python-socketio
bcrypt
starlette
pytest
pytest-asyncio
av==15.0.0
streamlit-webrtc==0.63.11
aiortc==1.13.0
