cython
numpy<2.0.0
onnx
onnxruntime
insightface
scipy
streamlit
mediapipe
opencv-python-headless
pandas
scikit-learn
joblib
pillow
requests
gtts
fastapi
uvicorn
python-socketio
bcrypt
starlette
pytest
pytest-asyncio
av>=14.0.0,<15.0.0
streamlit-webrtc==0.63.11
aiortc==1.13.0
